<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/normalize.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light" role="navigation">
        <a class="navbar-brand" href="#">
            <img src="images/logaso.png" height="80" class="d-inline-block align-top" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <span class="nav-link" style="margin-right:30px;">
                        Usuario: <b>Administrador</b>
                    </span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="intranet-menu.html">Volver</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="login.html">Salir</a>
                </li>
            </ul>
        </div>
    </nav>

    </header>


    <section class="section-white">

        <div class="container">

            <h1 class="text-center">Resultados</h1>

        </div>

    </section>

    <section class="section-white">

        <div class="container">

            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

                    <div class="container-escenario-item">

                        <img src="images/img1.png" class="img-fluid">

                        <div class="header-foto-item">

                            <h5 class="card-title">Futbol</h5>

                            <p class="card-text">Bolivia se impone 4 - 1 contra Venezuela</p>

                            <p class="card-text text-right">24/4/18</p>

                        </div>

                    </div>

                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

                    <div class="container-escenario-item">

                        <img src="images/img1.png" class="img-fluid">

                        <div class="header-foto-item">

                            <h5 class="card-title">Futbol</h5>

                            <p class="card-text">Bolivia se impone 4 - 1 contra Venezuela</p>

                            <p class="card-text text-right">24/4/18</p>

                        </div>

                    </div>

                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

                    <div class="container-escenario-item">

                        <img src="images/img1.png" class="img-fluid">

                        <div class="header-foto-item">

                            <h5 class="card-title">Futbol</h5>

                            <p class="card-text">Bolivia se impone 4 - 1 contra Venezuela</p>

                            <p class="card-text text-right">24/4/18</p>

                        </div>

                    </div>

                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

                    <div class="container-escenario-item">

                        <img src="images/img1.png" class="img-fluid">

                        <div class="header-foto-item">

                            <h5 class="card-title">Futbol</h5>

                            <p class="card-text">Bolivia se impone 4 - 1 contra Venezuela</p>

                            <p class="card-text text-right">24/4/18</p>

                        </div>

                    </div>

                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

                    <div class="container-escenario-item">

                        <img src="images/img1.png" class="img-fluid">

                        <div class="header-foto-item">

                            <h5 class="card-title">Futbol</h5>

                            <p class="card-text">Bolivia se impone 4 - 1 contra Venezuela</p>

                            <p class="card-text text-right">24/4/18</p>

                        </div>

                    </div>

                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

                    <div class="container-escenario-item">

                        <img src="images/img1.png" class="img-fluid">

                        <div class="header-foto-item">

                            <h5 class="card-title">Futbol</h5>

                            <p class="card-text">Bolivia se impone 4 - 1 contra Venezuela</p>

                            <p class="card-text text-right">24/4/18</p>

                        </div>

                    </div>

                </div>

            </div>

            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Anterior</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Siguiente</a>
                    </li>
                </ul>
            </nav>

            <br>
            <br>

            <div class="text-right">
                <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#modal-nueva-foto">Publicar
                    resultado</button>
            </div>

        </div>


    </section>

    <footer class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
                    <br>
                    <br>
                    <br>
                    <img class="img-fluid" src="images/logaso.png">
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <br><br>
                    <h4>Instituto Peruano del Deporte</h4>
                    <p class="footerTex">
                        Dirección:Calle Madre de Dios N° 463
                    </p>
                    <p class="footerTex">
                        Teléfono: 204-8420 /anexo 1302
                    </p>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <br><br>
                    <h4>Enlaces de Interés</h4>
                    <p><a class="footerTex" href="http://www.ipd.gob.pe/">Instituto Peruano del Deporte</a></p>
                    <p><a class="footerTex" href="https://www.facebook.com/recreacion.ipd/">Facebook Recreación</a></p>
                    <p><a class="footerTex" href="http://www.ipd.gob.pe/formacion-deportiva">Formación Deportiva</a></p>
                </div>
            </div>
        </div>
        <p class="text-center">&copy; 2018 Todos los derechos reservados</p>
    </footer>

    <!-- MODAL EDITAR INFO PARTICIPANTE -->

    <div class="modal fade" id="modal-nueva-foto" role="dialog" aria-hidden="true">

        <div class="modal-dialog modal-lg" role="document">

            <form id="uploadimage" action="#" enctype="multipart/form-data">

                <div class="modal-content">

                    <div class="modal-header header-modal">

                        <h4 class="modal-title">Publica un nuevo resultado</h4>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" style="color:white;">&times;</span>
                        </button>

                    </div>

                    <div class="modal-body">

                        <div class="row">

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                                <div id="alerta-error" class="alert alert-danger collapse text-center"></div>

                                <ul class="list-group">

                                    <li class="list-group-item">

                                        <div class="row">

                                            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">

                                                <p><span style="color:#B31A12">*</span><strong> Foto:</strong></p>

                                            </div>

                                            <div class="col-xs-6 col-sm-8 col-md-8 col-lg-8">

                                                <div class="form-group">
                                                    <input type="file" class="form-control-file" id="exampleFormControlFile1">
                                                </div>

                                            </div>

                                        </div>

                                    </li>


                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                                                <p><span style="color:#B31A12">*</span><strong> Titulo:</strong></p>
                                            </div>
                                            <div class="col-xs-6 col-sm-8 col-md-8 col-lg-8">
                                                <input id="numdoc" class="form-control" name=" numdoc" type="text">
                                            </div>
                                        </div>
                                    </li>

                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                                                <p><span style="color:#B31A12">*</span><strong> Fecha:</strong></p>
                                            </div>
                                            <div class="col-xs-6 col-sm-8 col-md-8 col-lg-8">
                                                <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
                                            </div>
                                        </div>
                                    </li>

                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                                                <p><span style="color:#B31A12">*</span><strong> Disciplina:</strong></p>
                                            </div>
                                            <div class="col-xs-6 col-sm-8 col-md-8 col-lg-8">
                                                <select class="form-control" id="exampleFormControlSelect1">
                                                    <option>Futbol</option>
                                                    <option>Voley</option>
                                                    <option>Natacion</option>
                                                </select>
                                            </div>
                                        </div>
                                    </li>

                                </ul>

                                <br>

                                <span style="color:#B31A12; font-size:12px;">(*) Campos obligatorios.</span><br>
                                <span style="color:grey; font-size:12px;"> Los formatos válidos en las imágenes son:
                                    'png', 'jpg' o 'jpeg'. Peso máximo de 5M. </span>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        <button id="btn_eliminar_resultado" type="button" class="btn btn-danger">Eliminar</button>
                        <button id="btn_publicar_resultado" type="button" class="btn btn-success">Publicar</button>

                    </div>
                </div>
            </form>

        </div>
    </div>


</body>

</html>