{% extends '::base.html.twig' %}
{% block title %}Sudamericanos Juveniles{% endblock %}
{% block body %}

    {% include 'SudJuvenilesBundle:Default:loader.html.twig' %} 
    {% include 'SudJuvenilesBundle:Default:menu_intranet.html.twig' %}

    <div class="section-title">

        <div class="container">

            <h1 class="text-center container-header-orange card">Delegaciones</h1>

        </div>

    </div>

    <section class="section-white">

        <div class="container">

            <div class="row" style="margin-bottom:60px; margin-top:30px;">

                {% for delegacion in delegaciones %}

                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    
                    <div class="container-escenario-item container">

                        <a href="{{url('delegacion',{delegacionId:delegacion['delegacionId']})}}"><img src="{{asset(delegacion['imagen'])}}" class="img-fluid zoom card"></a>

                        <div class="header-delegacion-item">
                            <h5 class="card-title text-center">{{delegacion['nombre']}}</h5>
                        </div>
                    </div>
                </div>

                {% endfor %}

            </div>


        </div>


    </section>

    <footer class="footer">

        <div class="container">

            <div class="row justify-content-center">

                <div class="col-10 col-xs-8 col-sm-6 col-md-5 col-lg-3">

                    <img src="{{asset('assets/images/logoblanco.png')}}" class="img-fluid">

                </div>

            </div>

        </div>

    </footer>

{% endblock %}