{% extends '::base.html.twig' %}
{% block title %}Sudamericanos Juveniles{% endblock %}
{% block body  %}

<body class="login-bg">

    {% if error == false %}
    <div id="loader-wrapper">
        <div id="loader"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>

    </div>
    {% endif %}


    <div class="container-fluid text-right">
        <button class="btn btn-light" style="margin:16px;" onclick="goBack()"><i class="fa fa-times"></i></button>
    </div>


    <div class="login-container">

        <div class="col-xs-10 col-sm-8 col-md-6 col-lg-4 container">

            <div class="card">

                <div class="login-detail">

                    <img src="{{asset('assets/images/icono.png')}}" class="img-fluid" width="100" height="100">

                    <br>

                    <h3>Bienvenido</h3>

                    <p class="card-title">Juegos Sudamericanos Escolares - Arequipa 2018</p>

                    <br>

                    <form action="{{path('login')}}" method="POST">

                        {% if error %}
                        <div class="alert alert-danger alert-dismissible">
                            <p style="text-center"><strong>Credenciales Inválidas </strong></p>
                        </div>
                        {% endif %}

                        <div class="input-container">
                            <i class="fa fa-user icon"></i>
                            <input class="input-field" type="text" id="username" name="_username" value="{{last_username}}" maxlength="30" autofocus required placeholder="Usuario">
                        </div>

                        <div class="input-container">
                            <i class="fa fa-key icon"></i>
                            <input class="input-field" id="password" type="password" name="_password" maxlength="30" required placeholder="Password">
                        </div>
                        <br>
                        <button class="btn btn-danger container" type="submit" id="btn-login"><strong>Iniciar sesion</strong></button>
                    </form>

                    <br>

                </div>

            </div>

        </div>

    </div>

</body>


{% endblock %}