
<footer class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
                <br>
                <br>
                <br>
                <img class="img-fluid" src="{{asset('assets/images/logaso.png')}}">
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <br><br>
                <h4>Instituto Peruano del Deporte</h4>
                <p class="footerTex">
                    Dirección:Calle Madre de Dios N° 463
                </p>
                <p class="footerTex">
                    Teléfono: 204-8420 /anexo 1302
                </p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <br><br>
                <h4>Enlaces de Interés</h4>
                <p><a class="footerTex" href="http://www.ipd.gob.pe/">Instituto Peruano del Deporte</a></p>
                <p><a class="footerTex" href="https://www.facebook.com/recreacion.ipd/">Facebook Recreación</a></p>
                <p><a class="footerTex" href="http://www.ipd.gob.pe/formacion-deportiva">Formación Deportiva</a></p>
            </div>
        </div>
    </div>
    <p class="text-center">&copy; 2018 Todos los derechos reservados</p>
</footer>