{% extends '::base.html.twig' %}
{% block title %}Sudamericanos Juveniles{% endblock %}
{% block body  %}

    <header class="bg-light">

        <div class="container">

            <div class="row">

                <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-4 mr-auto">
                    <img class="img-fluid logo" src="images/logaso.png">
                </div>

                <div class="col-md-auto">

                    <div class="row">

                        <div class="mr-auto col-8 col-xs-8 col-sm-8 col-md-12 col-lg-12" style="padding: 16px;">

                            <div class="container">

                                <p>Siguenos en</p>

                                <a href="#" class="fa fa-facebook"></a>
                                <a href="#" class="fa fa-twitter"></a>
                                <a href="#" class="fa fa-youtube"></a>

                            </div>

                        </div>

                        <div class="col-auto nav-justified navbar navbar-expand-md navbar-light">

                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>

                            </button>

                        </div>

                    </div>

                </div>

                <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    <div class="container">

                        <nav class="navbar nav-justified navbar-expand-md navbar-light">

                            <div class="collapse navbar-collapse" id="navbarNav">

                                <ul class="navbar-nav container">

                                    <li class="nav-item">
                                        <a class="nav-link active" href="#">Inicio</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="multimedia.html">Multimedia</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="agenda.html">Agenda</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="resultados.html">Resultados</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="escenarios.html">Escenarios</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="delegaciones.html">Delegaciones</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="login.html">Intranet</a>
                                    </li>

                                </ul>

                            </div>

                        </nav>
                    </div>

                </div>


            </div>
        </div>

    </header>

    <section class="section-white">

            <div class="container">
    
                <h1 class="text-center">Agenda</h1>
    
            </div>
    
        </section>

    <section class="section-white">

        <div class="container">

            <img src="images/agenda.jpg" class="rounded img-fluid" width="100%">

        </div>

    </section>

    <footer class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
                    <br>
                    <br>
                    <br>
                    <img class="img-fluid" src="images/logaso.png">
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <br><br>
                    <h4>Instituto Peruano del Deporte</h4>
                    <p class="footerTex">
                        Dirección:Calle Madre de Dios N° 463
                    </p>
                    <p class="footerTex">
                        Teléfono: 204-8420 /anexo 1302
                    </p>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <br><br>
                    <h4>Enlaces de Interés</h4>
                    <p><a class="footerTex" href="http://www.ipd.gob.pe/">Instituto Peruano del Deporte</a></p>
                    <p><a class="footerTex" href="https://www.facebook.com/recreacion.ipd/">Facebook Recreación</a></p>
                    <p><a class="footerTex" href="http://www.ipd.gob.pe/formacion-deportiva">Formación Deportiva</a></p>
                </div>
            </div>
        </div>
        <p class="text-center">&copy; 2018 Todos los derechos reservados</p>
    </footer>
    
{% endblock %}
