{% extends '::base.html.twig' %}
{% block title %}Sudamericanos Juveniles{% endblock %}
{% block body  %}

    {% include 'SudJuvenilesBundle:Default:menu_landing.html.twig' %}
    {% include 'SudJuvenilesBundle:Default:loader.html.twig' %} 

    <div class="section-title">

        <div class="container">

            <h1 class="text-center container-header-orange card">Agenda</h1>

        </div>
    </div>

    <section class="section-white">

        <div class="container">

            <div class="row" style="margin-bottom:80px;">

                <div class="container embed-responsive embed-responsive-16by9 card">

                    <embed src="{{asset('assets/files/cochajuegos.pdf')}}" type="application/pdf" class="embed-responsive-item" />

                </div>

            </div>

        </div>


    </section>

    {% include 'SudJuvenilesBundle:Default:footer.html.twig' %} 
    
{% endblock %}
