{% extends '::base.html.twig' %}
{% block title %}Sudamericanos Juveniles{% endblock %}
{% block body  %}

    {% include 'SudJuvenilesBundle:Default:menu_landing.html.twig' %}
    {% include 'SudJuvenilesBundle:Default:loader.html.twig' %} 


    <div class="section-title">

        <div class="container">

            <h1 class="text-center container-header-orange card" style="z-index:-1;">Delegaciones</h1>

        </div>
    </div>

    <section class="section-white">

        <div class="container">

            <div class="row" style="margin-bottom:80px;">

                {% for delegacion in delegaciones %}

                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">

                        <div class="container-escenario-item container">

                            <img src="{{asset(delegacion['imagen'])}}" class="img-fluid zoom card">

                            <div class="header-delegacion-item">
                                <h5 class="card-title text-center">{{delegacion['nombre']}}</h5>
                            </div>

                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>

    </section>



    {% include 'SudJuvenilesBundle:Default:footer.html.twig' %} 
    
{% endblock %}
