{% extends '::base.html.twig' %}
{% block title %}Sudamericanos Juveniles{% endblock %}
{% block body  %}

    {% include 'SudJuvenilesBundle:Default:menu_landing.html.twig' %}
    {% include 'SudJuvenilesBundle:Default:loader.html.twig' %} 

    <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <div class="section-title">

                <h1 class="container container-header-orange card" style="z-index:-1;">Escenarios</h1>

        </div>

    </div>

    <section class="section-white">

        <div class="container">

            <div class="row" style="margin-bottom:80px;">


                <div class="embed-responsive embed-responsive-16by9 card">
                    <iframe class="embed-responsive-item" src="https://www.google.com/maps/d/embed?mid=1OTX7-e_GLl7M__0VwgO5TRC6_0qSOSEF"
                        allowfullscreen></iframe>

                </div>

            </div>
        </div>

    </section>


    {% include 'SudJuvenilesBundle:Default:footer.html.twig' %} 
    
{% endblock %}
