{% extends '::base.html.twig' %}
{% block title %}Sudamericanos Juveniles{% endblock %}
{% block body  %}

    {% include 'SudJuvenilesBundle:Default:menu_landing.html.twig' %}
    {% include 'SudJuvenilesBundle:Default:loader.html.twig' %}

    <section class="section-title">

        <div class="container">

            <h1 class="text-center container-header-orange card" style="z-index:-1;" >Multimedia-Videos</h1>
        </div>

    </section>

    <section class="section-white">

        <div class="container">

            <h3>Videos</h3>

            <br>


            <div class="row">
             
                {% for entry in pagination %}
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="container-escenario-item card">
                            {% set  arrayFechaGrabo =  entry.video_url|split('=') %} 
                            {% set  keyVideo =  arrayFechaGrabo[1] %}

                            <div class="embed-responsive embed-responsive-16by9">

                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{keyVideo}}"
                                        frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                <div class="img-container">
                                    <p class="card-text">{{entry.fecha_grabo_video}}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}

            </div>

            {# display navigation #}
            <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
            </div>

            </div>

    </section>

    {% include 'SudJuvenilesBundle:Default:footer.html.twig' %} 
    
{% endblock %}
